body {
  margin: 0;
  background-color: #02142B;
  color: rgb(243, 233, 233);
  font-size: 20px;

   // border: 30px solid rgb(0, 0, 0);
   
    //border-right: 20px solid rgb(8, 0, 0);
    //border-left: 20px solid rgb(8, 0, 0);
    
}


table{

 background-color: rgba(78, 76, 77, 0.938);
 border: 1px solid black rgba(20, 128, 122, 0.938);
 border-radius: 25px;
 width:1000px;
 margin-left:auto;
 margin-right:auto;
}



li{
  display:inline;
}

li a {
  display: inline;
  color: rgba(209, 214, 214, 0.938);
  font-size: 30px;
  
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(82, 80, 74);
}

/*#left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
    #right { right: 0; }
    */

    