@import "_colors.scss";

.wc-dialog-container {
    position: fixed;
    // left: 50%;
    // top: 50%;
    z-index: 9990;

    pointer-events: none;
}

.wc-dialog-inner-container {
    position: relative;
    background-color: $bg;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.308);
    border-radius: 3px;
    z-index: 9992;

    pointer-events: all;

    // left: -50%;
    // top: -50%;
}

.wc-dialog-inner {
    background-color: $bg;
    padding: 40px;
    padding-right: 80px;

    border-radius: 3px;
}

.wc-dialog-inner::after {
    content: "";
    position: absolute;
    z-index: -1;

    bottom: -5%;
    left: -2.5%;

    height: 108%;
    opacity: 0.8;

    width: 105%;

    background: linear-gradient(270deg, #be371c, #f77302, #fbfd86, #4bc155, #71c6f8, #717ff8, #6301a4, #e1248f);;
    background-size: 1000% 1000%;

    filter: blur(10px);

    animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.wc-dialog-inner-container h1, .wc-dialog-inner-container h2, .wc-dialog-inner-container h3, .wc-dialog-inner-container h4, .wc-dialog-inner-container h5 {
    font-family: Arial, Helvetica, sans-serif !important;
    color: #fff !important;
    padding: 0;
    margin: 0;
    font-weight: 700;

    border: none;
}

.wc-dialog-inner-container h2 {
    font-size: 19.5px;
    margin-bottom: 10px;
}

.wc-dialog-inner-container h3 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.wc-dialog-inner-container h4 {
    opacity: 0.6;
    margin-bottom: 10px;
    font-size: 13px;
}

.wc-dialog-inner-container button {
    padding: 5px 15px !important;
    margin: 0 !important;
    margin-top: 10px !important;

    border: none !important;
    color: rgb(31, 31, 31);

    background-color: $highlight;
    border-radius: 3px;

    cursor: pointer;

    box-shadow: none;

    transition: background-color .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.wc-dialog-inner-container button:hover {
    background-color: lighten($color: $highlight, $amount: 12);
}

.wc-dialog-inner-container button:focus,
.wc-dialog-inner-container button:active {
    outline: none;
}

.wc-dialog-close {
    color: $close;
    border-radius: 2px;
    cursor: pointer;

    padding: 4px 10px;

    position: absolute;

    top: 32px;
    right: 19.2px;

    font-size: 15px;

    transition: background-color .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wc-dialog-close:hover {
    background-color: rgba(255, 255, 255, 0.116);
}
