body
{
  margin: 4;
  background-color: #02142B;
  color: rgb(243, 233, 233);
}


html
{
  scroll-behavior: smooth;
}

nav ul
{
  position: fixed;
  top: 0;
}

section
{
  text-align: center;
  flex-direction: column;
  background-color: rgba(78, 76, 77, 0.938);
  border: 1px solid black rgba(20, 128, 122, 0.938);
  border-radius: 25px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}



li
{
  display:inline;


}

li a
{
  display: inline;
  color: #4CAF50;
  font-size: 30px;

  padding: 14px 16px;
  text-decoration: none;
  text-align: center;

}

#navBar
{

  min-height: 70px;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 500;
  overflow: hidden;
  background-color: rgb(82, 80, 74);
}

.sectionTitle
{

  font-size: 35px ;


}

.sectionDescription{

  font-size: 25px;
}

#navBar.stickyBar
{

  position:fixed;

}


.modBox{

flex-direction: row;
font-size: 20px;
}

section{
align-self: auto;
  flex-direction: column;
}

.moduleTitle
{
  width: 400px;
  height: 60px;
  display: inline-block;
  vertical-align: bottom;
  margin: 10px 0;
  text-align: center;
  font-size: 30px;

}

.module
{
  margin: 10px;

  background-color: #4CAF50; /* Green */
  border: black;
  color: white;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;

}

.subSection
{
  font-size: 40px;
}

.title
{

  text-align: center;
}
