@import "../ext/_colors.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: $bg;
}

h1 {
    font-size: 48pt;
    text-align: center;
}

/* Block */
/*********/

.navbar {
  position: sticky;
  background-color: white;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
}

.icon {
  width: 80px;
  height: auto;
}

.paragraph {
  font-size: 14pt;
  text-indent: 2em;
}

.main {
    margin: auto;
    max-width: 70%;
    font-family: sans-serif;
}

/* Element */
/***********/

.navbar__item {
  text-align: center;
  color: unset;
  text-decoration: none;
  padding: 1em;
  font-size: 14pt;

  transition: color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.navbar__item:hover {
  color: lighten($color: $bg, $amount: 40);
}

.category__title {
  font-size: 48px;
  font-weight: bold;
  color: #02142B;
  margin: 0;
  margin-bottom: 40px;

  margin-top: 10px;
}

.category__desc {
  font-size: 30pt;
}


.subSection {
  font-size: 40px;
  padding: 20px;
}

.modBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.moduleTitle {
  width: 400px;
  height: 60px;
  color: white;
  display: inline-block;
  vertical-align: bottom;
  margin: 20px 0;

  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

img.module {
  margin: 10px;
  background-color: #4CAF50;
  border: black;
  color: white;
  padding: 30px 30px;
  text-decoration: none;
  display: inline;
  max-width: 300px;
  min-width: 100px;
  max-height: auto;

}

.module:hover {
  background-color: aliceblue;
  color: black;
}

.modImg {
  width: 500px;
  height: 500px;
}

.module-container {
  padding: 10px 60px 20px 60px;
}

.module-category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;

  width: 100%;
}

a {
  text-decoration: none;
}

.module-sub-containers {
  background-color: $bg;
  border-radius: 3px;
  padding: 20px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.47);
  // height: 80%;
}

.module-sub-title {
  color: $highlight;
  font-size: 30px;
  font-weight: bold;

  margin: 0;
}

.module-sub-containers p {
  color: $text;
  font-size: 14px;
}

.module-sub-read {
  text-transform: capitalize;
  color: $highlight;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: right;

  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

section:not(:first-of-type) {
  margin-top: 60px;
}