@import '../ext/colors';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #02142B;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: $highlight;
}

h1 {
    font-size: 48pt;
    text-align: center;
}

/* Block */
/*********/

.navbar {
  position: sticky;
  background-color: black;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
}

.icon {
  width: 80px;
  height: auto;
}

.paragraph {
  font-size: 14pt;
  text-indent: 2em;
}

.main {
    margin: auto;
    max-width: 70%;
    font-family: sans-serif;
}

/* Element */
/***********/

.navbar__item {
  background-color: #2e2e2e;
  border: 2px solid white;
  text-align: center;
  color: unset;
  text-decoration: none;
  padding: 1em;
  font-size: 14pt;
}

.category__title {
  font-size: 36pt;
  margin: 1em 0;
  padding-top: 100px;
}

.category__desc {
  font-size: 30pt;
}

section {
  text-align: center;
  flex-direction: column;
  background-color: rgba(78, 76, 77, 0.938);
  border: 1px solid black rgba(20, 128, 122, 0.938);
  border-radius: 25px;
  width: 70%;
  min-width: 1000px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 30px;

}

.subSection {
  font-size: 40px;
  padding: 20px;
}

.modBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.moduleTitle {
  width: 400px;
  height: 60px;
  color: white;
  display: inline-block;
  vertical-align: bottom;
  margin: 20px 0;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}

img.module {
  margin: 10px;
  background-color: #4CAF50;
  border: black;
  color: white;
  padding: 30px 30px;
  text-decoration: none;
  display: inline;
  max-width: 300px;
  min-width: 100px;
  max-height: auto;

}

.module:hover {
  background-color: aliceblue;
  color: black;
}

.modImg {
  width: 500px;
  height: 500px;
}
